{% load static %}
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img src="{% static 'rocket.png' %}" alt="Launch your business today" width="30" height="30">
        <!-- <a href="https://www.flaticon.com/free-icons/rocket" title="rocket icons">Rocket icons created by Freepik - Flaticon</a> -->
        <span class="fs-4">Solo Founders Club</span>
      </a>
    </header>
  </div>