{% extends 'core/base.html' %}
{% block content %}

{% include 'core/header.html' %}
{% include 'core/hero.html' %}

<div class="container pt-4 text-center">
  <h3>Free and Premium Resources</h3>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
          </tr>
        </thead>
        <tbody>
          {% for r in resources %}
          <tr>
            <td><a href="{{ r.url }}" target="_blank" >{{ r.name }}</a></td>
            <td>{{ r.desc }}</td>
            <td>{{ r.cat }}</td>
          </tr>
         {% endfor %}
        </tbody>
      </table>
</div>
{% include 'core/newsletter_form.html' %}
{% include 'core/footer.html' %}
{% endblock content %}